/** BASE */


/** LAYOUT */


/** MODULE */
.container {
    overflow:hidden;
}

.container > nav {
    font-size:1.8em;
    color: #f4f4f4;
    text-align:right;
}
#slider {
    position:relative;
}
ul {
    list-style:none;
    margin:0;
    padding:0;
}
/** MODULE  : Nav : Prev, Next */
#slider nav {
    position:absolute;
    z-index:9123456;
    margin-top:5%;
    left:0;
    right:0;
    font-size:4rem;
}

#slider nav i {
    position:absolute;
    cursor:pointer;
}

#slider nav i:first-child {
    left:3%;
}
#slider nav i:last-child {
    right:3%;
}

/** EO MODULE Nav */
#slider li {
    position:absolute;
}
#slider li img {
    width:100%;
}
#slider li, #slider li a {
    color:black;
}
#slider li p {
    margin:0 0 .2rem;
    padding:.4rem .6rem;
    background-color: #fafafa;
}
/** STATE */

